<%= provide(:title, "") %>


<div class="eight columns offset-by-four">
  <div class="center">
    <h1>Want to host your own private auction?<br><span>Sign up for beta now.</span></h1>
  </div>
</div>