@import "bootstrap";
@import "compass/css3";

$white: #ffffff;
$black: #000000;
$darkBlue: #339bb9;
$darkestBlue: #257085;

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 51px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* Header/Navbar */

.navbar {
  .navbar-inner {
    @include box-shadow(#999 1px 1px 8px);
    background: $white;
    height: 50px;
    .container {
      border-bottom: none;
    }
    a.brand {
      color: #555;
      font-size: 28px;
    }
    a.brand:hover {
      color: #000;
    }
    nav ul {
      margin-top: 5px;
    }
    nav ul li a {
      color: #777;
    }
    nav ul li a:hover {
      color: #333;
    }
  }
}

/* Home Page Not Signed In */

.container.center_piece {
  background: url(groovepaper.png) repeat;
  width: auto;
  height: 367px;
  margin-bottom: 100px;
  border-bottom: 1px solid #ddd;
  position: relative;
  section.hero {
    h1 {
      margin: 25px;
      text-align: center;
      color: $darkBlue;
      span {
        color: #999;
      }
    }
    img {
      width: 620px;
      position: absolute;
      bottom: 0;
      margin-bottom: 0px;
    }
  }
  section.signup-in {
    height: 350px;
    @include box-shadow(#999 8px 0 8px -8px, #999 -8px 0 8px -8px);
    background: #fff;
    padding: 20px;
    .form-vertical {
      margin-top: 10px;
    }
  }
}
